@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-1: #201E43;
  --color-2: #134B70;
  --color-3: #508C9B;
  --color-4: #EEEEEE
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 16px;
}

#preloader {
  width: 100%;
  height: 100vh;
  background-color: var(--color-1);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#container {
  width: 100%;
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.navigasi {
  width: 15%;
  height: 100vh;
  background-color: var(--color-1);
  position: fixed;
  /* visibility: hidden; */
}

.profile-wrapper {
  width: 100%;
  position: relative;
}

.profile-wrapper > img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  position: relative;
}

.profile-wrapper > p {
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  padding: 0.5em;
  font-size: 0.9em;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
}

.menu a {
  width: 100%;
  padding: 0.75em;
  color: white;
  text-decoration: none;
}

.menu a:hover {
  font-weight: bold;
  /* border-bottom: 2px solid white; */
  background-color: white;
  color: var(--color-1);
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  padding: 0.5em 0;
}

.socmed-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  margin-bottom: 0.25em;
  font-size: 24px;
}

.socmed-wrapper a {
  color: white;
  text-decoration: none;
}

.footer p {
  width: 100%;
  text-align: center;
}

.konten-utama {
  width: 85%;
  min-height: 100vh;
  /* background-color: var(--color-3); */
  margin-left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#beranda {
  width: 100%;
  height: 100vh;
  background-color: var(--color-4);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* flex-direction: column; */
}

.intro-wrapper {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nama-wrapper {
  width: 100%;
  text-align: center;
}
.intro-wrapper h3 {
  font-size: 1.2em;
}

.nama-wrapper span {
  font-size: 3em;
  font-weight: bold;
  display: inline;
}

#beranda img {
  width: 40%;
  height: 100%;
  aspect-ratio: 9 / 16;
  object-fit: cover;
  position: relative;
  left: 5%;
}